body {
    font-size: 1.4rem;
    color: #130205;
    background-color: #F0E1CE;
}

.container {
    max-width: 65%;
    margin: 20px auto;
    padding: 20px;
}

.container img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

sup {
    line-height: 0;
}

article div {
    line-height: 1.5;
}

header,
footer {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-family: 'Noto Serif', 'Georgia', serif;
}

footer,
.post-body {
    font-family: 'Noto Serif', 'Georgia', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* List styles */
ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px 0;
}

li a {
    font-family: 'Noto Serif', 'Georgia', serif;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
}

li span {
    font-family: 'Noto Serif', 'Georgia', serif;
    font-size: 0.9rem;
    margin-top: 15px;
    margin-left: 25px;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        color: #F0E1CE;
        background-color: #111;
    }
}