<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml">
    <title>io.</title>
</head>

<body>
    <div class="container">
        <header>
            <a href="/">
                <h1>io.</h1>
                {{ if .IsHome }}
                <h5>{{ Trivia }}</h5>
                {{ end }}
            </a>
        </header>
        <main>
            {{ block "content" . }}{{ end }}
        </main>
        <footer>
            <p>&copy; 2022-2024 <a href="https://github.com/myyc/io">myyc</a></p>
        </footer>
    </div>
</body>

</html>